
<table data-ng-model='grid' border="1">
  <tr>
    <td id='A1'>{{ grid.A1 }}</td>
    <td id='B1'>{{ grid.B1 }}</td>
    <td id='C1'>{{ grid.C1 }}</td>
    <td id='D1'>{{ grid.D1 }}</td>
    <td id='E1'>{{ grid.E1 }}</td>
    <td id='F1'>{{ grid.F1 }}</td>
    <td id='G1'>{{ grid.G1 }}</td>
    <td id='H1'>{{ grid.H1 }}</td>
    <td id='I1'>{{ grid.I1 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A2 }}</td>
    <td id='B1'>{{ grid.B2 }}</td>
    <td id='C1'>{{ grid.C2 }}</td>
    <td id='D1'>{{ grid.D2 }}</td>
    <td id='E1'>{{ grid.E2 }}</td>
    <td id='F1'>{{ grid.F2 }}</td>
    <td id='G1'>{{ grid.G2 }}</td>
    <td id='H1'>{{ grid.H2 }}</td>
    <td id='I1'>{{ grid.I2 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A3 }}</td>
    <td id='B1'>{{ grid.B3 }}</td>
    <td id='C1'>{{ grid.C3 }}</td>
    <td id='D1'>{{ grid.D3 }}</td>
    <td id='E1'>{{ grid.E3 }}</td>
    <td id='F1'>{{ grid.F3 }}</td>
    <td id='G1'>{{ grid.G3 }}</td>
    <td id='H1'>{{ grid.H3 }}</td>
    <td id='I1'>{{ grid.I3 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A4 }}</td>
    <td id='B1'>{{ grid.B4 }}</td>
    <td id='C1'>{{ grid.C4 }}</td>
    <td id='D1'>{{ grid.D4 }}</td>
    <td id='E1'>{{ grid.E4 }}</td>
    <td id='F1'>{{ grid.F4 }}</td>
    <td id='G1'>{{ grid.G4 }}</td>
    <td id='H1'>{{ grid.H4 }}</td>
    <td id='I1'>{{ grid.I4 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A5 }}</td>
    <td id='B1'>{{ grid.B5 }}</td>
    <td id='C1'>{{ grid.C5 }}</td>
    <td id='D1'>{{ grid.D5 }}</td>
    <td id='E1'>{{ grid.E5 }}</td>
    <td id='F1'>{{ grid.F5 }}</td>
    <td id='G1'>{{ grid.G5 }}</td>
    <td id='H1'>{{ grid.H5 }}</td>
    <td id='I1'>{{ grid.I5 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A6 }}</td>
    <td id='B1'>{{ grid.B6 }}</td>
    <td id='C1'>{{ grid.C6 }}</td>
    <td id='D1'>{{ grid.D6 }}</td>
    <td id='E1'>{{ grid.E6 }}</td>
    <td id='F1'>{{ grid.F6 }}</td>
    <td id='G1'>{{ grid.G6 }}</td>
    <td id='H1'>{{ grid.H6 }}</td>
    <td id='I1'>{{ grid.I6 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A7 }}</td>
    <td id='B1'>{{ grid.B7 }}</td>
    <td id='C1'>{{ grid.C7 }}</td>
    <td id='D1'>{{ grid.D7 }}</td>
    <td id='E1'>{{ grid.E7 }}</td>
    <td id='F1'>{{ grid.F7 }}</td>
    <td id='G1'>{{ grid.G7 }}</td>
    <td id='H1'>{{ grid.H7 }}</td>
    <td id='I1'>{{ grid.I7 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A8 }}</td>
    <td id='B1'>{{ grid.B8 }}</td>
    <td id='C1'>{{ grid.C8 }}</td>
    <td id='D1'>{{ grid.D8 }}</td>
    <td id='E1'>{{ grid.E8 }}</td>
    <td id='F1'>{{ grid.F8 }}</td>
    <td id='G1'>{{ grid.G8 }}</td>
    <td id='H1'>{{ grid.H8 }}</td>
    <td id='I1'>{{ grid.I8 }}</td>
  </tr>
  <tr>
    <td id='A1'>{{ grid.A9 }}</td>
    <td id='B1'>{{ grid.B9 }}</td>
    <td id='C1'>{{ grid.C9 }}</td>
    <td id='D1'>{{ grid.D9 }}</td>
    <td id='E1'>{{ grid.E9 }}</td>
    <td id='F1'>{{ grid.F9 }}</td>
    <td id='G1'>{{ grid.G9 }}</td>
    <td id='H1'>{{ grid.H9 }}</td>
    <td id='I1'>{{ grid.I9 }}</td>
  </tr>

</table>>